
:root {
    --primary-color-Purple: hsl(250, 24%, 48%);
    --primary-color-PurpleLight: hsl(252, 32%, 82%);
    --primary-color-Dark: #121212;
    --primary-color-BlackAccent: #110933;
    --secondary-color-Yellow: #F6C949;
    --secondary-color-Red: #FF7256;
    --secondary-color-Green: #3BC963;
    --secondary-color-Orange: #FF6B2C;
    --secondary-color-Blue:  #1D92F1;

    --Text-Color-Black: #25546F;
    --Text-Color-DarkGrey: #696974;
    --Text-Color-Grey:#bcbcc2;
    --Text-Color-LineDark: #EAEAEA;
    --Text-Color-WhiteGrey: #F1F1F5;
    --Text-Color-White: #FAF9F6;
    --Text-Color-Purple: hsl(250, 55%, 25%);;

    
}

* {
    box-sizing: border-box;
}