
:root {
    --primary-color-Purple: #775ef5;
    --primary-color-Dark: #121212;
    --primary-color-BlackAccent: #1D2335;
    --secondary-color-Yellow: #F6C949;
    --secondary-color-Red: #FF7256;
    --secondary-color-Green: #3BC963;
    --secondary-color-Orange: #FF6B2C;
    --secondary-color-Blue:  #1D92F1;

    --Text-Color-Black: #25546F;
    --Text-Color-DarkGrey: #696974;
    --Text-Color-Grey:#92929D;
    --Text-Color-LineDark: #EAEAEA;
    --Text-Color-WhiteGrey: #F1F1F5;
    --Text-Color-White: #FAF9F6;

    
}

* {
    box-sizing: border-box;
}